<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">

    <servlet>
        <servlet-name>CreateLeaveRequestServlet</servlet-name>
        <servlet-class>controller.CreateLeaveRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateLeaveRequestServlet</servlet-name>
        <url-pattern>/createLeaveRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaveHistoryServlet</servlet-name>
        <servlet-class>controller.LeaveHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveHistoryServlet</servlet-name>
        <url-pattern>/LeaveHistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateLeaveRequestServlet</servlet-name>
        <servlet-class>controller.UpdateLeaveRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLeaveRequestServlet</servlet-name>
        <url-pattern>/UpdateLeaveRequestServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>